body {
  text-align: center;
  background: rgb(214, 209, 31);
  background: linear-gradient(
    90deg,
    rgba(214, 209, 31, 1) 0%,
    rgba(21, 198, 227, 1) 52%,
    rgba(226, 59, 237, 1) 100%
  );
}

.bg-body {
  width: 100vw;
  height: 100vh;
}
.player {
  margin-top: 14px;
  text-align: center;
  display: inline-block;
  background-image: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );
  height: 100%;
  border-radius: 8px;
  width: 400px;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard .header h4 {
  color: rgb(129, 12, 238);
}

.cd .thumb {
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.dashboard {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  padding: 18px 30px;
  margin-top: -21px;
  border-radius: 8px;
  position: fixed;
  width: 340px;
}

.dashboard .control {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 30px;
}

.btn-toggle-play {
  border-radius: 50%;
  font-size: 35px;
  transition: ease 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  border: none;
  outline: none;
  cursor: pointer;
}
/* input range */

#progress {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}
input[type="range"] {
  height: 17px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #f0f0f0;
  border-radius: 25px;
  border: 1px solid #8a8a8a;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a7780;
  height: 9px;
  width: 16px;
  border-radius: 4px;
  background: #f5168d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #f0f0f0;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #f0f0f0;
  border-radius: 25px;
  border: 1px solid #8a8a8a;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a7780;
  height: 9px;
  width: 16px;
  border-radius: 4px;
  background: #f5168d;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #f0f0f0;
  border: 1px solid #8a8a8a;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #f0f0f0;
  border: 1px solid #8a8a8a;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a7780;
  height: 9px;
  width: 16px;
  border-radius: 4px;
  background: #f5168d;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #f0f0f0;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #f0f0f0;
}

.playlist {
  padding: 12px;
  margin-top: 390px;
}

.playlist .song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: rgb(242, 250, 247);
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.thumb-song {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.song .body {
  margin-left: 30px;
  text-align: justify;
}

.song:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 11px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 3px 11px -1px rgba(0, 0, 0, 0.75);
}

.song.active {
  background: #8cb9f0;
}

.control .btn.active {
  color: #ec1f55;
}

.song:active {
  opacity: 0.8;
}
